@font-face{
	font-family: populaire;
	src: url('populaire.otf');
}

@font-face{
	font-family: opensans;
	src: url('opensans.ttf');
}

@font-face{
	font-family: carlson;
	src: url('carlson.ttf');
}

@page {
	margin: 0;
}

@page body {
	background-color: black;
}

body {
	color: rgba(30, 30, 30, 1);
	font-size:12px;
}

.docWrapper{
	margin: -8px;
}

.doc{
	background-color:white;
	margin: 0 auto;
	width: 790px;
  height: 990px;
}

.resume {
	padding: 50px;
}

.header{

}

.content{
	width: 100%;
}

.name{
	width: 100%;
	height: 66px;

	background-color: rgba(71,169,192,1);
	color: white;

	text-align: center;
	float: left;
}

.name h1{
	padding-top: 15px;
}

.contactinfo{
	float:right;
	margin: 10px 0;
	width: 225px;
}

.contactinfo .icon{
	height: 15px;
	background-color: rgba(71,169,192,1);
}

.contactinfo .not_today_spambot{
	margin-top: 2px;
	height: 15px;
}

.contactinfo td{
	font-size: 12px;
	font-family: 'opensans'
}


h1{
	font-size: 30px;
	font-family: 'populaire';
	margin: 0;
}

.column{
}

.leftColumn{
	width: 225px;
	height: 100%;
	float: left;
}

.rightColumn{
	width: 440px;
	float: right;
}

.footer{
	height:230px;
	float:left;
	width: 100%;
}

.leftColumn .category{
}

.interests.category{
	font-family:"carlson";
	margin-top: 0px;
}

.category{
}

.category ul{
	list-style-type: disc;
	padding: 0 0 0 10px;
	margin: 5px 0 0 0px;
	font-size: 12px;
}

.category ul li{
	font-size: 12px;
	margin: 0 0 5px 0;
	font-family: carlson;
}

.category ul li b{
	font-family: serif;
}

.category h2{
	font-family: 'opensans';
	font-size: 17px;
	border-bottom: 2px solid rgba(120, 120, 120, 1);
	margin: 10px 0 10px 0;
}

.category h3{
	font-family: 'opensans';
	margin: 0 0 0 0;
}

.category h3 span{
	font-size:11px;
	color: rgba(120, 120, 120, 1);
}

.experienceItem p span{
	font-size: 8px;
}

.position {
		margin: 8px 0 0 5px;
}

.category h4{
	font-family: 'opensans';
	line-height: 12px;
	margin:0;
	color: rgba(71,169,192,1);
}

.category h4 span{
	font-size: 9px;
	color: rgba(120, 120, 120, 1);
}

p{
	margin: 0;
	font-size: 12px;
}

.interests .quotewrapper{
	position: relative;
}

.interests .quote{
	font-size: 18;
}

.interests .quote.oq{
	font-size: 35px;
	color: rgba(71,169,192,1);
	position: absolute;
}

.interests .quote.text{
	padding-top: 9px;
	text-indent: 40px;
	top: 9px;
}


.interests .truth .quote.text{
	text-indent: 25px;
}
.interests .truth .quote.cq{
	color: rgba(71,169,192,1);
	font-size: 25px;
	right: 130px;
	top: 175px;
}

.interests .mumbojumbo .quote.cq{
	color: rgba(71,169,192,1);
	font-size: 25px;
	position: absolute;
	left: 210px;
	top: 95px;
}

.interests span{
	font-size: 40px;
}

.cartoon{
	height: 175px;
}

.education span{
	font-size: 10px;
}

.courseTable{
	font-size: 10px;
}

.courseTable tr{
}

.courseDepartment{
	color: rgba(71,169,192,1);
	font-family: 'opensans';
	font-size: 25px;
	float:left;
	padding: 5px;
	width: 50px;
	height: 50px;
}

.courseTable tr :last-child{
	padding-bottom: 10px
}

.experienceList{
	float: right;
	width: 100%;
	list-style: none;
	border-collapse: separate;
	border-spacing: 0 5px;
}

.experienceItem{
	width: 100%;
}

.experienceItem .logo{
	width: 35px;

	font-size: 10px;

	vertical-align: top;
	text-align: right;
	padding-top: 5px;

	font-family: 'opensans';
	color: rgba(150,150,150,1);
}

.experienceItem .logo img{
	height: 50px;
}

.experienceItem .text{
	width: 100%;
	padding: 0 0 0 10px;
}


.skills.category{
	position: relative;
}

.skill{
	margin: 10px 0;
}

.skill p {
	font-family: carlson;
}

.gauge{
	width: 100%;
	height: 10px;
	background-color: rgba(120, 120, 120, 1);
}

.gaugeValue {
	background-color: rgba(71,169,192,1);
	height: 100%;
}

.gaugeValue.gtd{
	width: 95%;
}

.gaugeValue.js{
	width: 90%;
}

.gaugeValue.sa{
	width: 85%;
}

.gaugeValue.da{
	width: 80%;
}

.gaugeValue.hi{
	width: 75%;
}

.gaugeValue.py{
	width: 70%;
}

.gaugeValue.zh{
	width: 70%;
}

.gaugeValue.ml{
	width: 60%;
}

.gaugeValue.linux{
	width: 55%;
}

.gaugeValue.ux{
	width: 50%;
}

.gaugeValue.es{
	width: 45%;
}

.gaugeValue.go{
	width: 40%;
}

.gaugeValue.de{
	width: 30%;
}

.gaugeValue.bjj{
	width: 1%;
}
